.exerciseCard{
}
.cardBody{
    border: 1px solid black;
    margin: 20px;
}
img{
    width:350px;
    height: 200px;
}
.heading h1{
    background-color: rgb(235, 15, 15);
    color: white;
}
.paginationBttns{
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;

}
.paginationBttns a{
    padding: 10px;
    margin: 5px;
    border: 1px solid rgb(235, 15, 15);
    border-radius: 5px;
    color:  rgb(235, 15, 15);
    cursor: pointer;
}
.paginationBttns a:hover{
    color:  rgb(235, 15, 15);
}
.paginationActive a{
  background-color: rgb(235, 15, 15);
  color: white;

}